{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link rel="stylesheet" href="{% static '/css/discover.css' %}">
    <title>Saved - Behance</title>
</head>
<body>
    {% include 'header.html' %}
    <section>
        <div class="categories-container">
            <!-- Topics -->
            

            <h1>Saved of Behance</h1>
            <h2>Projects featured today by our curators</h2>
            <p><i class="fas fa-search fa-xs"></i>Search all Behance Projects</p>
        </div>
    </section>

    <!-- Project Section Starts Here -->
    <section class="project-container">
            <div class="project-wrapper">
                <!-- First Project Card -->
                {% for x in save_post %}
                <div class="projects">
                    <img src="{{x.post.cover.url}}" alt="">
                    <div class="projects-info">
                        <div class="user">
                            <img src="/images/users/user1.jpg" alt="">
                            <a href="/user/jordan-dice.html"><p>{{x.profile.name}}</p></a>
                        </div>
                        <div class="photo-stats">
                            <p><i class="fas fa-thumbs-up"></i>{{x.post.like}}</p>
                            <p><i class="fas fa-eye"></i></p>
                        </div>
                    </div>
                </div>
                {% endfor %}

                
                
            </div>
    </section>




<style>
    input[type="button"]{
    margin-top: 20px;
    margin-left: 70%;
    height: 33px;
    width: 131px;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    color: #191919;
    }
</style>






</body>
</html>